@import "tailwindcss";

@theme {
  --color-accent-red-500: #ba2e2c;
  --color-secondary-green-500: #17321e;
  --color-neutral-white-500: #f5f5f5;
  --color-neutral-white-800: #c2c2c2;
  --color-white-10: rgb(255 255 255 / 0.1);
  --color-white-20: rgb(255 255 255 / 0.2);
  --color-white-30: rgb(255 255 255 / 0.3);
}

:root {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  font-family: "JetBrains Mono", monospace;
  color: var(--color-neutral-white-500);
}

@layer utilities {
  .glass-effect {
    @apply rounded-lg border border-white-20 bg-white-10 backdrop-blur-md shadow-lg;
  }

  .glass-effect-hover:hover {
    @apply bg-white-20 border-white-30;
  }
}
