---
import type { Link } from "@/data/links";
import { Image } from "astro:assets";

interface Props {
  data: Link;
}

const { data } = Astro.props;
---

<a
  href={data.url}
  target="_blank"
  rel="noopener noreferrer"
  class="glass-effect flex flex-row gap-2 items-center justify-center p-2 glass-effect-hover rounded-lg w-36"
>
  <Image
    src={data.icon}
    width={24}
    height={24}
    alt={data.name}
    loading={"lazy"}
  />
  <span class="text-sm font-bold">{data.name}</span>
</a>
