---
import CodeTab from "../molecules/CodeTab.astro";
import Title from "../molecules/Title.astro";
import Badges from "./Badges.astro";
import Features from "./Features.astro";
import SidebarLinks from "./SidebarLinks.astro";
---

<main
  class="flex items-center flex-col mx-auto max-w-3xl justify-between min-h-svh p-4 sm:p-8 md:p-12 gap-10 sm:gap-10 md:gap-14"
>
  <SidebarLinks />
  <div class="flex flex-col items-center justify-center">
    <Title />
  </div>
  <CodeTab />
  <Features />
  <div class="lg:hidden">
    <Badges />
  </div>
</main>
